*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.head{
	height: 173px;
	background-color: #eeeeef;
}
.top{
	padding-top: 30px;
	text-align: center;
	height: 95px;
}
/*.top img{
	margin-top: 30px;
}*/
.nav{
	width: 700px;
	height: 45px;
	background-color: #fff;
	margin:0 auto;
	border-radius: 23px;
}
.nav li{
	float: left;
	height: 45px;
	padding: 0 26px;
	line-height: 45px;
	background: url(../img/tu2.gif) no-repeat right center;
}
.nav li a:hover{
	display: block;
	height: 42px;
	border-bottom: 3px solid #1e50ae;
}
.nav li:last-child{
background: none;
}
.banner{
	width: 100%;
	height: 405px;
	background: url(../img/tu3.gif) no-repeat center center;
}
/*.serve{
	width: 1200px;
	height: 500px;
	margin:0 auto;
	background-color: red;
}*/
.no{
	font-size:16px;
	float:left;
	margin-left:117.5px;
	margin-top:24px;
}
.ao{
	color:rgb(51,51,51);
}
.yuan{
	font-size:14px;
	float:left;
	margin-left:116px;
	margin-top:9px;	
	background:url(../img/yuan.png) 0 55%  no-repeat;
}
.abc{
	color:rgb(144,144,144);
	display: inline-block;
    padding-left: 15px;
}
.tu
{
	width:147px;
	height:147px;
	float:left;
	margin-left:77.5px;
}
#fua
{
	width:100%;
	float:left;	
}
.fub
{
	width:100%;
	height:368px;
	float:left;
}
.fuc
{
	width:1208px;
	margin:0 auto;
}
.fud
{
	height:368px;
}
.fuwuz
{
	float:left;
	width:302px;
	height:368px;
}
.zhengti{
	width: 100%;
	height: 1521px;
	margin:0 auto;
}
.title{
	padding-top: 64px;
	text-align: center;
}
.title h2{
    font: 34px '微软雅黑';
}
.title p{
    font: 31px '[Aparajita]';
    margin-top: 25px;
}
.zhengti ul{
	margin-left: 210px;
	font: 16px '微软雅黑';
}
.zhengti li img{
	float: left;
	padding: 71px 87px;
}
.zhengti li a{
	padding-top: 34px;
	text-align: center;
}
.tulan
{
	width:47px;
	height:47px;
	float:right;
}
.and{
	height: 298px;
	width: 230px;
	margin-right: 40px;
	float: left ;
}
.di1{
	width:100%;
	height:102px;
	float:left;
	margin:0 auto;
	background: #f5f5f5;
}
.di2{
	width:299px;
	height:102px;
	float:left;
}
.di3{
	width:300px;
	height:47px;
	float:left;
	margin-top:29px;
}
.di4{
	width:95px;
	height:47px;
	float:left;
}
.di5{
	width:205px;
	height:47px;
	float:left;
}
.two{
	height: 712px;
	/* width: 1270px; */
	background: url('../img/h9.png') no-repeat center center;
	text-align: center;
}
.jie{
	height: 214px;
	text-align: center;
	font-size: 34px;
	font-family: '微软雅黑';
	color: white;
}
.zi
{
	font-family:"微软雅黑";
	font-size:14px;
}
.zhi{
	height:360px;
}
.hia{
	width: 495px;
	height: 360px;
	margin-left: 246px;
	float: left;
}
.he1{
	
	padding-top: 65px;
}
.jie2{
	height: 303px;
	text-align: center;
}
.jubu{
	   padding-left: 180px;
}
.jubua{
	height: 298px;
	line-height: 298px;
	width: 63px;
	margin-left: 0px;
	float: left;
}
.he2{
	margin-top: 26px;
	font-size: 20px;
}
.he5{
	text-align: center;
	margin-top: 81px;
}
.nei{
	height: 360px;
	margin-left: 114px;
	float:left ;
	text-align: left;
}
.neironga{
	margin-top: 49px;
	color: rgb(145, 145, 154);
	line-height: 26px;
}
.neirong{
	margin-top: 34px;
}
.liao{
	margin-top: 30px;
}
.zhonga li{
	height: 25px;
	border-bottom:  1px dotted gray;
	margin-left: 250px;
	font-size: 14px;
	color: rgb(145, 145, 145);
}
.zhonga{
	float: left;
}
.zhongb{
	float: left;
	margin-left: 100px;
}
.zhongli{
	 margin-top: 80px; 
	text-align: center;
}
.zhongb li{
	height: 25px;
	border-bottom:  1px dotted gray;
	font-size: 14px;
	color: rgb(145, 145, 145);
}
.banzi1{
	font-size:19px;
	margin-left:25px;
}
.banzi2{
	font-size:13px;
	margin-left:25px;
}
.dibu{
	width:100%;
	height:386px;
	float:left;
	background-color: #323232;
}
.dibu1{
	width:1200px;
	height:261px;
	margin:0 auto;
	border-bottom:1px solid rgb(119,119,119);
}
.dibu2{
	width:100%;
	height:125px;
	float:left;
}
.dibu3
{
	width:800px;
	height:261px;
	float:left;
}
.list
{
	margin-top:40px;
	width:100%;
	height:15px;
	float:left;
}
.list1
{
	width:800px;
	height:15px;
	margin:0 auto;
	text-align: center;
}
.lie{
	width:90px;
	height:261px;
	float:left;
	margin-right: 92px;
}
.weixin{
	width: 490px;
	height: 146px;
	padding-right:182px;
	padding-top: 71px;
}
.ti1
{
	margin-top:77px;
	font-size:18px;
	color:rgb(245,245,245);
	
}
.ti2
{
	margin-top:20px;
	color:rgb(245,245,245);
}
.ban{
	height:15px;
	float:left;
	padding:0 13px;
	color: white;
	line-height:15px;
}
.find{
	margin-top:23px;
	width:100%;
	height:15px;
	float:left;
}
.color1{
	color: white;
}
.zui{
	border-right:1px solid rgb(245,245,245);
}
.zuihou{
	text-align:center;
	height:15px;
	line-height:15px;
	margin:0 auto;
}